.redirectBtn {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgb(211, 94, 58);
    height: 30px;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}

.songBtn {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgb(211, 94, 58);
    height: 30px;
    color: white;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 10px;
    margin: 10px;
}

.slideContainer {
     display: flex;
     flex-direction: column;
}

.carousel {
    position: relative;
    top: 30px;
    margin: 20px;
}